@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
  box-sizing: border-box;
}

body{
  font-family: 'Roboto'
}

header{
  text-align: center;
}

a{
  background: rgb(124,181,236);
  padding: 10px 10px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
}

a:hover{
  background: rgb(0,0,150);
}


.parametres{
  display: flex;
  width: 75%;
  margin: 0 auto;
  justify-content: space-around;
}

.parametre{
  text-align: center;
}
